# zprezto original
[submodule "zprezto/modules/history-substring-search/external"]
	path = zprezto/modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zprezto/modules/syntax-highlighting/external"]
	path = zprezto/modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zprezto/modules/completion/external"]
	path = zprezto/modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git

# Janus 3rd party (dotfiles/janus/)
[submodule "janus/vim-hybrid"]
	path = janus/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "janus/sudo.vim"]
	path = janus/sudo.vim
	url = https://github.com/vim-scripts/sudo.vim

# Core
[submodule "vim/janus/vim/core/pathogen"]
	path = vim/janus/vim/core/pathogen
	url = https://github.com/tpope/vim-pathogen.git

# Colors
[submodule "vim/janus/vim/colors/sampler-pack"]
	path = vim/janus/vim/colors/sampler-pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "vim/janus/vim/colors/solarized"]
	path = vim/janus/vim/colors/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/janus/vim/colors/irblack"]
	path = vim/janus/vim/colors/irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "vim/janus/vim/colors/vividchalk"]
	path = vim/janus/vim/colors/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/janus/vim/colors/molokai"]
	path = vim/janus/vim/colors/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "vim/janus/vim/colors/pyte"]
	path = vim/janus/vim/colors/pyte
	url = https://github.com/vim-scripts/pyte.git
[submodule "vim/janus/vim/colors/github"]
	path = vim/janus/vim/colors/github
	url = https://github.com/telamon/vim-color-github.git
[submodule "vim/janus/vim/colors/getafe"]
	path = vim/janus/vim/colors/getafe
	url = https://github.com/larssmit/vim-getafe.git
[submodule "vim/janus/vim/colors/janus-colors"]
	path = vim/janus/vim/colors/janus-colors
	url = https://github.com/TechnoGate/janus-colors.git

# Langs
[submodule "vim/janus/vim/langs/haml"]
	path = vim/janus/vim/langs/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/janus/vim/langs/javascript"]
	path = vim/janus/vim/langs/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/janus/vim/langs/cucumber"]
	path = vim/janus/vim/langs/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/janus/vim/langs/markdown"]
	path = vim/janus/vim/langs/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/janus/vim/langs/puppet"]
	path = vim/janus/vim/langs/puppet
	url = https://github.com/ajf/puppet-vim.git
[submodule "vim/janus/vim/langs/scala"]
	path = vim/janus/vim/langs/scala
  url = https://github.com/rosstimson/scala-vim-support.git
[submodule "vim/janus/vim/langs/handlebars"]
	path = vim/janus/vim/langs/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "vim/janus/vim/langs/coffeescript"]
	path = vim/janus/vim/langs/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/janus/vim/langs/rails"]
	path = vim/janus/vim/langs/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/janus/vim/langs/git"]
	path = vim/janus/vim/langs/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/janus/vim/langs/textile"]
	path = vim/janus/vim/langs/textile
	url = https://github.com/timcharper/textile.vim.git
[submodule "vim/janus/vim/langs/rspec"]
	path = vim/janus/vim/langs/rspec
	url = https://github.com/skwp/vim-rspec.git
[submodule "vim/janus/vim/langs/scss"]
	path = vim/janus/vim/langs/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/janus/vim/langs/csv"]
	path = vim/janus/vim/langs/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/janus/vim/langs/nodejs"]
	path = vim/janus/vim/langs/nodejs
	url = https://github.com/mmalecki/vim-node.js.git
[submodule "vim/janus/vim/langs/ruby"]
	path = vim/janus/vim/langs/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/janus/vim/langs/arduino"]
	path = vim/janus/vim/langs/arduino
	url = https://github.com/vim-scripts/Arduino-syntax-file.git
[submodule "vim/janus/vim/langs/less"]
	path = vim/janus/vim/langs/less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/janus/vim/langs/haskell"]
	path = vim/janus/vim/langs/haskell
	url = https://github.com/wlangstroth/vim-haskell.git
[submodule "vim/janus/vim/langs/slim"]
	path = vim/janus/vim/langs/slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/janus/vim/langs/erlang"]
	path = vim/janus/vim/langs/erlang
	url = https://github.com/jimenezrick/vimerl.git
[submodule "vim/janus/vim/langs/minitest"]
	path = vim/janus/vim/langs/minitest
	url = https://github.com/sunaku/vim-ruby-minitest.git
[submodule "vim/janus/vim/langs/clojure"]
	path = vim/janus/vim/langs/clojure
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/janus/vim/langs/elixir"]
	path = vim/janus/vim/langs/elixir
	url = https://github.com/elixir-lang/vim-elixir.git

# Tools
[submodule "vim/janus/vim/tools/unimpaired"]
	path = vim/janus/vim/tools/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/janus/vim/tools/nerdcommenter"]
	path = vim/janus/vim/tools/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/janus/vim/tools/matchit"]
	path = vim/janus/vim/tools/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vim/janus/vim/tools/supertab"]
	path = vim/janus/vim/tools/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/janus/vim/tools/zoomwin"]
	path = vim/janus/vim/tools/zoomwin
	url = https://github.com/itspriddle/ZoomWin.git
[submodule "vim/janus/vim/tools/ack"]
	path = vim/janus/vim/tools/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/janus/vim/tools/fugitive"]
	path = vim/janus/vim/tools/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/janus/vim/tools/gundo"]
	path = vim/janus/vim/tools/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/janus/vim/tools/surround"]
	path = vim/janus/vim/tools/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/janus/vim/tools/snipmate"]
	path = vim/janus/vim/tools/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/janus/vim/tools/tlib"]
	path = vim/janus/vim/tools/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/janus/vim/tools/vim-addon-mw-utils"]
	path = vim/janus/vim/tools/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/janus/vim/tools/snipmate-snippets"]
	path = vim/janus/vim/tools/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "vim/janus/vim/tools/syntastic"]
	path = vim/janus/vim/tools/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/janus/vim/tools/tagbar"]
	path = vim/janus/vim/tools/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/janus/vim/tools/nerdtree"]
	path = vim/janus/vim/tools/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/janus/vim/tools/indent-object"]
	path = vim/janus/vim/tools/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/janus/vim/tools/endwise"]
	path = vim/janus/vim/tools/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/janus/vim/tools/webapi"]
	path = vim/janus/vim/tools/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/janus/vim/tools/gist"]
	path = vim/janus/vim/tools/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/janus/vim/tools/vimwiki"]
	path = vim/janus/vim/tools/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vim/janus/vim/tools/css-color"]
	path = vim/janus/vim/tools/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vim/janus/vim/tools/easymotion"]
	path = vim/janus/vim/tools/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/janus/vim/tools/narrowregion"]
	path = vim/janus/vim/tools/narrowregion
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule "vim/janus/vim/tools/buffergator"]
	path = vim/janus/vim/tools/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/janus/vim/tools/kwbd"]
	path = vim/janus/vim/tools/kwbd
	url = https://github.com/rgarver/Kwbd.vim.git
[submodule "vim/janus/vim/tools/ctrlp"]
	path = vim/janus/vim/tools/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/janus/vim/tools/vroom"]
	path = vim/janus/vim/tools/vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "vim/janus/vim/tools/eunuch"]
	path = vim/janus/vim/tools/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/janus/vim/tools/repeat"]
	path = vim/janus/vim/tools/repeat
	url = https://github.com/tpope/vim-repeat.git
