# Submodules for dotfiles
[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto

# Janus 3rd party (dotfiles/janus/)
[submodule "janus/OmniCppComplete"]
	path = janus/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete
[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "janus/vim-hybrid"]
	path = janus/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "janus/neocomplete.vim"]
	path = janus/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "janus/vim-scala"]
	path = janus/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "janus/tern_for_vim"]
	path = janus/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim
[submodule "janus/vim-jade"]
	path = janus/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "janus/vim-spacebars"]
	path = janus/vim-spacebars
	url = https://github.com/Slava/vim-spacebars
[submodule "janus/vim-javascript"]
	path = janus/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "janus/vim-jsx"]
	path = janus/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "janus/vim-slime"]
	path = janus/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "janus/ghcmod-vim"]
	path = janus/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "janus/vimproc.vim"]
	path = janus/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "janus/haskellmode-vim"]
	path = janus/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim
[submodule "janus/vim-hdevtools"]
	path = janus/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools
